h1 {
    font-size: 38px;
}

h2 {
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 8px;
    text-decoration: underline;
}

h3 {
    font-size: 22px;
    font-weight: 100;
}

h4 {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 10px;
    clear: both;
}

li {
    font-size: 18px;
    margin-bottom: 8px;
}

/* these 2 classes are to have text on both the right and left sides
which would be for any line that needs a date */
.left-aligned {
    font-size: 20px;
    float: left;
}

.right-aligned {
    font-size: 14px;
    float: right;
}

div {
    clear: both; /* makes sure each div will be vertically aligned */
}