body {
    background: #6068a5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #212a6a;
    text-align: center;
}

h2 {
    font-size: 28px;
}

.about {
    color: #1e4758;
    font-family: 'Times New Roman', Times, serif;
}

.skills {
    color: #1e4758;
    font-family: 'Times New Roman', Times, serif;
}

.projects {
    display:flex;
    flex-wrap:wrap;
}

.project {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25%;
    color: #1e4758;
    font-family: 'Times New Roman', Times, serif;
}

.project h3 {
    margin-left: 60px;
}

.contact {
    color: #1e4758;
    font-family: 'Times New Roman', Times, serif;
}

.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

